---
layout: page
title:
description: "Volg hier de blog waarin Adriaan elke maand iets uit gaat proberen. Walg, geniet, verbaas!"
tags: []
---

{% for category in site.categories %}
  <h2 class="month-title">
    De '{{ category | first }}' maand
  </h2>
  <p class="month-explanation"><a href="/{{ category | first }}/"><i class="icon-question-sign"></i> Uitleg over deze maand</a></p>
    <ul>
    {% for posts in category %}
      {% for post in posts %}
        {% if post.title %}
          <li>
            <a href="{{ post.url }}">
              <time datetime="{{ post.date | date_to_xmlschema }}">
                <i class="icon-calendar-empty"></i> {{ post.date | date: "%d %B '%y" }}
              </time> - {{ post.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
{% endfor %}
