---
layout: page
title:
description: "Volg hier de blog waarin Adriaan elke maand iets uit gaat proberen. Walg, geniet, verbaas!"
tags: []
---

{% for category in site.categories reversed %}
  <h2 class="month-title">
    De {{ category | first }}-maand
  </h2>
  <ol>
    <!-- <li><a href="/{{ category | first }}/">Waarom de {{ category | first }} maand?</a></li> -->
    {% for posts in category %}
      {% for post in posts reversed %}
        {% if post.title %}
          <li>
            <a href="{{ post.url }}">
              {{ post.title }} <small><time datetime="{{ post.date | date_to_xmlschema }}">
                <i class="fa fa-calendar-empty"></i> {{ post.date | date: "%d %B '%y" }}
              </time></small>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ol>
{% endfor %}
